@{
    ViewBag.Title = "Налоговая система";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Податкова система  — це сукупність податків, зборів, інших обов'язкових платежів і внесків до бюджету і державних цільових фондів,
    які діють у встановленому законом порядку. Складається з прямих і непрямих податків.
    Прямі встановлюються безпосередньо на дохід або власність платника податків, непрямі включаються у вигляді надбавки до ціни товару і
    сплачуються споживачем.
</p>

<p>
    Виходячи із сутності податку як категорії, можна визначити 2 функції даного поняття:
</p>

<ol>
    <li>
        фіскальна – з допомогою податків формуються фінансові ресурси держави. Податки виступають основним джерелом доходів бюджетів різних рівнів. Об'єктивне існування податків як основного джерела доходів передбачає:        <ul>
            <li>
                а) надходження їх рівномірно в календарному розрізі (рівнонапруженість);
            </li>
            <li>
                б) стабільність надходження;
            </li>
            <li>
                в) податки повинні рівномірно надходити по всіх територіальних рівнях;
            </li>
        </ul>
    </li>
    <li>
        розподільчо-регулююча. Сутність даної функції в тому, що процес стягнення податку обов'язково означає розподіл певного явища чи процесу між податкоплатником та державою. Причому стягнення податку призводить до скорочення реальних об'єктів оподаткування для конкретних платників податку.
    </li>
</ol>