@{
    ViewBag.Title = "Налоговая система";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Налоговая система - это совокупность налогов, сборов, других обязательных платежей и взносов в бюджет и государственные целевые фонды,
    действующие в установленном законом порядке. Состоит из прямых и косвенных налогов. Прямые устанавливаются непосредственно на доход или
    имущество налогоплательщика, косвенные включаются в виде надбавки к цене товара и оплачиваются потребителем.
</p>

<p>
    Исходя из сущности налога как категории, можно определить 2 функции данного понятия:
</p>

<ol>
    <li>
        фискальная - с помощью налогов формируются финансовые ресурсы государства. Налоги выступают основным источником доходов бюджетов разных уровней. Объективное существование налогов как основного источника доходов предусматривает:
        <ul>
            <li>
                а) поступления их равномерно в календарном разрезе (равнонапряженность)
            </li>
            <li>
                б) стабильность поступления;
            </li>
            <li>
                в) налоги должны равномерно поступать по всем территориальных уровнях;
            </li>
        </ul>
    </li>
    <li>
        распределительно-регулирующая. Сущность данной функции в том, что процесс взыскания налога обязательно означает распределение определенного явления
        или процесса между податкоплатником и государством. Причем взыскания налога приводит к сокращению реальных объектов налогообложения для конкретных налогоплательщиков.
    </li>
</ol>