@{
    ViewBag.Title = "Зв'язок";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    State University of Telecommunications <br />
    m. Kyiv, vul. Solomyanska, 7 <br />
    <abbr title="Phone">DUT Phone:</abbr>
    (044) 249-25-91
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:example@example.com">Developer E-Mail</a><br />
</address>*@