@{
    ViewBag.Title = "Головна сторінка";
}

<div class="jumbotron">
    <h1>Система подачі звітів у податкову</h1>
    <p class="lead">Прозорий, чесний, швидкий та зручний спосіб подачі звітів у податкову в електронному вигляді.</p>
    <p>@Html.ActionLink("Детальніше", "About", "Home", new { @class="btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Правила подачі звітів у податкову</h2>
        <p>Перед подачею звіту, рекомендуємо ознайомитись із правилами подачі податкового звіту.</p>
        <p>@Html.ActionLink("Детальніше", "Rules", new { controller = "TaxReport"}, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Анонімний відгук про нашу роботу</h2>
        <p>Ви можете залишити анонімний відгук про роботу нашої системи, без реєстрації.</p>
        <p>@Html.ActionLink("Детальніше", "Index", new { controller  = "Posts"}, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Список податкових інспекторів</h2>
        <p>Ви завжи можете переглянути список усіх інспекторів, які будуть перевіряти ваші звіти.</p>
        <p>@Html.ActionLink("Детальніше", "InspectorsInfo", "Home", new { @class = "btn btn-default" })</p>
    </div>
</div>