@model Coursework_in_Java.Models.Tax.TaxDeclarationModel

@{
    ViewBag.Title = "Видалення";
}

<h2>Видалення</h2>

<h3>Ви впевненні, що хочете видалити звіт #@Model.UniqueDeclarationId ?</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x=> x.Id)
        @Html.HiddenFor(x=> x.UniqueDeclarationId)

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" />

            @Html.ActionLink("До загального списку", "Index")
        </div>
    }
</div>
