
@{
    ViewBag.Title = "Помилка";
}

<h2>Помилка</h2>

<p>Частина персональних даних не була знайдена. Не вистачає персональної інформації користувача</p>
@Html.ActionLink("Заповнити персональну інформацію", "CreatePersonalInfo", "Citizen")