
@{
    ViewBag.Title = "Привила";
}

<h2>Привила подачі податкового звіту:</h2>

<ol>
    <li>Зареєструвати користувача</li>
    <li>Заповнити особисті дані у вкладці "Профіль"</li>
    <li>Натиснути на кнопку "Створити звіт"</li>
    <li>Заповнити всі поля, які вказано</li>
    <li>Обрати одного із інспекторів. Із списком можно ознайомитись на сайті.</li>
    <li>Чекати обробки звіту інспектором.</li>
    <li>Якщо вашу заявку перевірили, проте вона не пройшла, потрібно її відредагувати. Інспектор може залишити вам повідомленя в вкладці "Детальніше" звітів.</li>
    <li>Відправити ще раз на обробку. Та чекати відповіді. Повторювати останні пункти, доки інспектор не прийме заявку.</li>
</ol>

<p>Допоміжні дані:</p>

<ul>
    <li>Ви можете завжди змінити інспектора відредагувавши звіт.</li>
    <li>Ви можете редагувати звіти доки вони успішно не пройшли перевірку інспектора. Після перевірки редагування буде неможливе!</li>
    <li>Ви можете видаляти звіти доки їх не почав перевіряти інспектор. Після перевірки редагування буде неможливе!</li>
</ul>

@Html.ActionLink("Створити звіт", "CreateReport", "TaxReport")