
@{
    ViewBag.Title = "Помилка доступу";
}

<h2>Помилка доступу</h2>
<p>У вас невистачає доступу для перегляду цієї сторінки. Авторизуйтесь під користувачем с потрібним доступом.</p>
<p>@ViewBag.Access</p>